 <div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag('sector_01.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Helping</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%=image_tag('sector_02.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Making an Impact</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%=image_tag('sector_03.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Empower Others</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->