<div id="wrapper">
    <header>
    	<div id="brand"></div>
    </header>

    <div id="main">
         <h2>I'm interested in
            <select>
                <% @sectors.each do |sector| %>
                    <option value='<%= sector.id %>'><%= sector.name.titleize %></option>
                <% end %>
                <option value='all'>All</option>
            </select>
			in
         	<select>
                <% @regions.each do |region| %>
                    <option value='<%= region.id %>'><%= region.name.titleize %></option>
                <% end %>
                <option value='all'>All</option>
			</select>
         </h2>
    </div>
    <div id="map-canvas"></div>
</div>

