<div id="wrapper">
    <header>
    	<div id="brand"></div>
    </header>

    <div id="main">
         <h2>I'm interested in 
         	<select>  
         		<option value="value1">Value 1</option> 
				<option value="value2" selected>Value 2</option>
				<option value="value3">Value 3</option>
			</select>
			in 
         	<select>  
         		<option value="value1">Value 4</option> 
				<option value="value2" selected>Value 5</option>
				<option value="value3">Value 6</option>
			</select>
         </h2>
    </div>
    <div id="map-canvas"></div>
</div>

