<div id="wrapper">
    <header>
    	<div id="brand"></div>
    </header>
    <div id="filterdiv">
         <form id="interests" name="setInterests" class="inline" action='/jobs' method="get">
         	<p class="inline">I'm interested in</p>
           	<div class="check-selections inline small" id="sectors-container">
           		<select id="sectors">
           			<option value='0'></option>
  		            <% @sectors.each do |sector| %>
  		            	<option value='<%= sector.id %>'><%= sector.name.titleize %></label></option>
  		            <% end %>
  		        </select>
  	        </div>


			<p class="inline">in</p>
			<div class="check-selections inline small" id="regions-container">
				<select id="regions">
					<option value='0'></option>
		            <% @regions.each do |region| %>
		            	<option value='<%= region.id %>'><%= region.name.titleize %></option>
                <% end %>
		        </select>
	        </div>
         	<input type="submit" class="submit" value="Find Opportunities">
         </form>
    </div>
    <div id="map-canvas"></div>
    <div>
    	<table id="search-results" class="med">
    	
		</table>
	</div>

</div>

