// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, figure, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}

/* global */

body 												{background:#eee; color:#555; font-family:'Bitter',georgia,serif; line-height:1.5;}
a:link,
a:visited										    {color:#3db2ae; text-decoration:none;
													-moz-transition:color .1s ease-in;
													-webkit-transition:color .1s ease-in;
													-o-transition:color .1s ease-in;
													transition:color .1s ease-in;
}
a:hover,
a:visited:hover									    {color:#0796ca; text-decoration:none;}

table td										    {}

h1												    {font-size:2.5em; font-weight:700; margin:0 0 .25em 0; text-align:center;}
h2, #filterdiv									    {font-size:1.5em; font-weight:700; line-height:1.25; margin:0 0 .5em 0;}
h3												    {font-weight:700; margin:0 0 .75em 0; text-transform:uppercase;}
h4												    {}
h5												    {}
h6												    {}

p												    {margin:0 0 1.5em 0;}
span												{}
hr													{}
label												{}
input[type=text]									{}
input[type=text]:focus								{}
input[type=submit]									{}
textarea											{}

::selection 										{}
::-moz-selection 									{}



/* --------------------------------------- GENERAL STYLES --------------------------------------- */

body {
    background:#eee;
    color:#222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    size:14px;
}

header	{
	background:-webkit-linear-gradient(#222 0%, #444 100%);
	color:#fff;
	padding: 2px;
	width: 100%;
}
header ul li				{padding: 0 3px 0 3px; font-size:.875em; margin-right:10px; text-align:center;}
header ul li a:link,
header ul li a:visited		{color:#ccc; text-transform:uppercase;}

#nav {
  height: 32px;
}
#show-menu {
  float: left;
  margin-right: 20px;
}

#top-menu {
	display: none;
  float: left;
  margin: 0;
}

#top-menu li {
	display: inline-block;
}
.email-login li {
	padding: 3px;
}
.linkedin-login {
	margin-left: 50px;
}
.linkedin-login button img {
	width: 100px;
}


a {
    color:#1FA1FA;
}


label {
	display:inline-block;
}

/*------------------------------------- LAYOUT -------------------------------------------------*/
#wrapper {
    width:1000px;
    margin:0 auto;
    background:#fff;
    overflow:auto;
}

#search-results {
  width: 100%;
}

#filterdiv {
	//background-color: #392E85;
	background-color: transparent;
	padding:20px;
	text-align: center;
	padding-top: 100px;
	z-index: 90;
	position: absolute;
	top: 20px;
}
#interests {
	opacity: 1;
}

.inline {
	display:inline-block;
}

.check-selections {
	color: black;
}
#sectors {
	background-color: #6C8CD5;
}
#regions {
	background-color: #B564D4;
}

button.submit {
	border-radius: 10px;
	margin-top: 30px;
}

#map-canvas, #filterdiv, #modal {
	width:1000px;
	height:300px;
}
#modal {
	background-color: #eee;
	opacity: .7;
	z-index: 99;
	position: absolute;
	top: 20px;
	display: none;
}

#map-canvas {
	opacity: .4;
}

.selectAll, .selectNone {
	text-decoration: underline;
}

#rightColumn {
	float:left;
	padding: 0 10px;
	min-width: 200px;
	height: auto;
	background-color: #eee;
	color: black;
	display: none;
}

.thumbnail {
	background-color: #CBCBCB;
	color: black;
	text-align:center;
	width: 180px;
}

.small 										{font-size:.6em; font-weight:500; line-height:1; margin:0 0 .5em 0;}
.med 										{font-size:1.2em; font-weight:300; line-height:1; margin:0 0 .5em 0;}
.right 										{float: right;}
.left 										{float: left;}

/* filtered results table */
.job_title									{font-weight: 500;}
.departure_date								{min-width: 50px;}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

tr.head {
	font-weight: 400;
	background-color: #222;
	color: #eee;
	border-radius: 4px;
}

td, th {
	padding: 10px;
}

/* Modal */
modal-footer {
	text-align: center;
}
.spacer {
	height: 20px;
}

.sticky	{
	position:fixed;
	top:0;
	width: 1000px;
	z-index:100;
}




/* option:checked:before { content: "✓" } */
option:before { content: "☐ " }
option:checked:before { content: "☑ " }

//#392E85
//#A30008

/* Responsive CSS Rules */
@media screen and (min-width:768px) and (max-width:1024px) {
	#map-canvas, #filterdiv, #modal {
		width:768px;
	}
	#wrapper {
    	width:768px;
    }
    .sticky {
    	width: 768px;
    }
}
@media screen and (max-width:760px) {
	#map-canvas, #filterdiv, #modal {
		width:600px;
	}
	#wrapper {
    	width:600px;
    }
    .sticky {
    	width: 600px;
    }
}